@import "css/colors";

* {
  all: unset;
  font-family: "Product Sans", Roboto, sans-serif;
  transition: 200ms ease;
}

.bar {
  background-color: $bg;
  color: $fg;

  label {
    font-size: 1.2rem;
  }

  .text {
    margin-top: 0.2rem;
  }
}

.module {
  margin: 0 5px;
}

.focused {
  background-color: $bg;
  border-radius: 1rem;
  margin: 0.3rem;
  padding: 0.25rem;
}

.workspaces {
  margin-left: 10px;
}

.ws {
  border-radius: 2rem;
  margin: 0.7rem 0.25rem;
}

.layout {
  font-weight: bold;
}

.date {
  // color: $flamingo;
}

.hour {
  font-weight: bold;
  padding-left: 5px;
}

.minute {
  padding-right: 0.7rem;
}
